.inter {
    font-family: "Inter", sans-serif;
}

.raleway {
    font-family: "Raleway", sans-serif;
}

.info-li {
    display: flex;
    justify-content: space-between;
}

.body{
    overflow: hidden;
}